/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  color: #8C7353;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
   border: 1px solid #8C7353;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px solid #000
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: "";
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark::after {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #8C7353;
  position: static;
}
