.button {
    overflow: hidden;
    position: relative;
    z-index: 1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-300px);
    transition: 0.2s all linear;
    transition: 0.2s all linear;
    background: #7c664a;
    z-index: -1;
  }
  &:hover {
    &:after {
      transform: translateX(0);
    }
  }
}
