.grid_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 15px;
  justify-items: center;
  margin: 0 0 15px;
  > a {
    width: 100%;
    &:last-child {
      grid-column: 2 span/3;
    }
  }
}
.container_content {
  height: calc(100% - 56px);
}
.container_cart_items {
  height: calc(100% - 165px);
}
