.container {
  box-shadow: 0 10px 20px #0000, 0 5px 10px #00000005;
  border-bottom: 1px solid #8c735338;
  .items {
    .hover_line {
      transform: scaleX(0);
      transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      position: absolute;
      top: 60px;
    }
    &:hover {
      .hover_line {
        transform: scaleX(1);
      }
    }
  }
  .mega_menu{
    height: 302px;
    border-top: 1px solid #f2efef;
    background-color: rgba(255, 255, 255, 0.8);
  } 
  .menulist_mobile_container{
    span{
          transition: .3s  all;
        }
    &:hover{
      a{
        span{
          transform: translateX(10px);
          transition: .3s  all;
        }
      }
    }
  }
}
